/* Endpoint para todos los celulares */
@media (max-width: 600px) {
    
    .bonificacion{
        transform:translate(80%, 95%) !important;
    }
    .superpuesto {
        font-size: 1.5rem;
    }
}

/* Endpoint para todas las pantallas */
@media (min-width: 601px) {
   
    .bonificacion{
        transform:translate(190%, 95%) !important;
    }
    .superpuesto {
        font-size: 2.5rem;
    }
}
@keyframes lift{
    0%{
        margin: 27px 0 0;
    }
    50%{
        margin: 0 0 27px;
    }
    100%{
        margin: 27px 0 0;
    }
}
.intro-scroll-wrapper svg {
    animation: lift 2.5s linear 1s infinite;
}
.hover-scale {
    transition: transform 0.3s ease;
  }
  
  .hover-scale:hover {
    transform: scale(1.05);
  }

  .pulse {
    animation: pulse 2s infinite;
    transition: transform 0.3s ease;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .footer {
    
    color: #fff;
    background: #161726;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(33.5px);
    backdrop-filter: blur(33.5px);
    padding: 20px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.footer-wrapper{
    display: flex;
    align-items: start;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8px;
}

.footer-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.footer-column-icons {
    width: 112px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.footer-column-icon {
    display: flex;
    width: 48px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: hsla(0, 0%, 100%, .5);
    background: hsla(0, 0%, 100%, .03);
    transition: all .2s linear;
}


.footer-column-icon:hover{
    color: #fff;
    border-radius: 94px;
    border: 1px solid #7676f5;
    background: linear-gradient(180deg, #7676f5 8.7%, #5a22a1 151.28%);
    box-shadow: inset 0 0 0 2px #11121e;
    -webkit-backdrop-filter: blur(32.5999984741px);
    backdrop-filter: blur(32.5999984741px);
}


.smoke-bg {
    position: absolute;  /* para que quede fijo y cubra toda la ventana */
    top: 10%;
    left: 0%;
    width: 100%;
   height: 110%;
    background-image: url('./smoke.png');
    background-size: cover;
    background-position: center;
    animation: moveSmoke 60s linear infinite;
    opacity: 0.3;
    z-index: 0;
    
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
  }

.smoke-bg1 {
    position: absolute;  /* para que quede fijo y cubra toda la ventana */
    top: 10%;
    left: 30%;
    width: 100%;
   height: 110%;
    background-image: url('./smoke.png');
    background-size: cover;
    background-position: center;
    animation: moveSmoke 60s linear infinite;
    opacity: 0.3;
    z-index: 0;
    

  }

.smoke-bg2 {
    position: absolute;  /* para que quede fijo y cubra toda la ventana */
    top: 10%;
    left: 50%;
    width: 100%;
   height: 110%;
    background-image: url('./smoke.png');
    background-size: cover;
    background-position: center;
    animation: moveSmoke 60s linear infinite;
    opacity: 0.3;
    z-index: 0;
    

  }
.smoke-bg3 {
    position: absolute;  /* para que quede fijo y cubra toda la ventana */
    top: 10%;
    left: 60%;
    width: 100%;
   height: 110%;
    background-image: url('./smoke.png');
    background-size: cover;
    background-position: center;
    animation: moveSmoke 60s linear infinite;
    opacity: 0.3;
    z-index: 0;
 
  }
.smoke-bg2 {
    position: absolute;  /* para que quede fijo y cubra toda la ventana */
    top: 10%;
    left: 90%;
    width: 100%;
   height: 110%;
    background-image: url('./smoke.png');
    background-size: cover;
    background-position: center;
    animation: moveSmoke 60s linear infinite;
    opacity: 0.3;
    z-index: 0;
  }
  
  .fondo {
    background-image: 
      linear-gradient(to bottom, rgba(63, 61, 69, 0.8) 0%, rgba(63, 61, 69, 0.6) 50%, rgba(63, 61, 69, 0) 100%),
      url('./vip_rewards.svg'),
      url('./rewards.png'),
      url('./main_intro.jpg');
  
    background-size: cover, cover, contain, cover; /* o ajustá según necesidad */
    background-position: center, center, center 50%, center; /* centrado para cada capa */
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    mask-image: linear-gradient( black 80%, transparent);
  }
  @keyframes moveSmoke {
    0%   { transform: translate(0%, 0%) scale(1); }
    50%  { transform: translate(2%, -2%) scale(1.05); }
    100% { transform: translate(0%, 0%) scale(1); }
  }


  .join-plate-inner{
    display: flex;
    width: 100%;
        margin: 0 auto;
        max-width: 1025px;
        min-width: 343px;
        padding: 18px 24px;
        align-items: center;
        -webkit-backdrop-filter: blur(12.5px);
        backdrop-filter: blur(12.5px);
        justify-content: space-between;
        border: 1px solid #34375f;
        border-radius: 200px;
        box-shadow: 0 25px 35px 0 rgba(16, 17, 28, .5);
        background: linear-gradient(88deg, rgba(20, 24, 51, .5) 9.42%, rgba(41, 47, 85, .5) 94.87%);
        position: relative;
        z-index: 1;
        font-size: 18px;
        color: hsla(0, 0%, 100%, .75);
}
/* Móviles medianos y grandes */
@media (max-width: 767px) {
  /* Teléfonos en general */
  .vip-rewards-rewards-imgs-roulette {
    position: absolute;
    width: 270px;
    height: 240px;
    top: 60% !important;
    left: 60% !important;
    animation: float 4s ease-in-out 0s infinite normal none running;
}

.vip-rewards-rewards-imgs-dice {
  position: absolute;
  width: 133px;
  height: 132px;
  top: 50% !important;
  left: -10% !important;
  animation: float-rotate-right 4s ease-in-out 0s infinite normal running;
}

.vip-rewards-rewards-imgs-goblet {
  position: absolute;
  width: 65px !important; 
  height: 65px !important;
  top: 25%;
  left: 0% !important;
  animation: float 4s ease-in-out 0s infinite normal none running;
}

.vip-rewards-rewards-imgs-bomb {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 25% !important;
  left: 80% !important;
  animation: float-rotate-left 4s ease-in-out 0s infinite normal none running;
}


.join-plate-inner{
  display: flex;
  flex-direction: column;
      margin: 0 auto;
      padding: 15px !important;
      align-items: center;
      -webkit-backdrop-filter: blur(12.5px);
      backdrop-filter: blur(12.5px);
      justify-content: center;
      border: 1px solid #34375f;
      border-radius: 5px !important;
      box-shadow: 0 25px 35px 0 rgba(16, 17, 28, .5);
      background: linear-gradient(88deg, rgba(20, 24, 51, .5) 9.42%, rgba(41, 47, 85, .5) 94.87%);
      position: relative;
      z-index: 1;
      color: hsla(0, 0%, 100%, .75);
}

.backgroundAnimado {
  background: url('./fondo2.svg');
  background-size: cover;
  position: relative;
  width: 100%; /* Ajusta según tus necesidades */
  height: 100% !important;  /* Ajusta según tus necesidades */
  overflow: hidden;
}

.footer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  gap: 25px;
}
}


  .vip-rewards-rewards-imgs-roulette {
    position: absolute;
    width: 270px;
    height: 240px;
    top: 53%;
    left: 68%;
    animation: float 4s ease-in-out 0s infinite normal none running;
}

.vip-rewards-rewards-imgs-dice {
    position: absolute;
    width: 133px;
    height: 132px;
    top: 50%;
    left: 20%;
    animation: float-rotate-right 4s ease-in-out 0s infinite normal running;
}

.vip-rewards-rewards-imgs-bomb {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 25%;
    left: 70%;
    animation: float-rotate-left 4s ease-in-out 0s infinite normal none running;
}

.vip-rewards-rewards-imgs-goblet {
    position: absolute;
    width: 73px;
    height: 75px;
    top: 25%;
    left: 30%;
    animation: float 4s ease-in-out 0s infinite normal none running;
}

@keyframes float {
    0%   { transform: translatey(0); }
    50%  { transform: translatey(-25px); }
    100% { transform: translatey(0); }
  }

@keyframes float-rotate-left {
    0%   { transform: translateY(10px) rotate(0); }
    50%  { transform: translateY(-15px) rotate(20deg) }
    100% { transform:translateY(10px) rotate(0); }
  }
@keyframes float-rotate-right {
    0%   { transform:translateY(10px) rotate(0); }
    50%  {  transform: translateY(-20px) rotate(-25deg);}
    100% { transform: translateY(10px) rotate(0);; }
  }
  .backgroundAnimado {
    position: relative;
    overflow: hidden; /* Para contener el SVG */
  }
  
  .highlight-block-bg {
    pointer-events: none; /* Evita que el SVG interfiera con eventos del mouse */
  }
  
  .inner-grid {
    position: relative;
    z-index: 99999; /* Asegura que el contenido esté por encima del SVG */
    color: white; /* Ajusta el color del texto según tu diseño */
  }

  @keyframes smokeAnimation {
    0% { transform: scale(1) translate(0, 0); opacity: 0.6; }
    100% { transform: scale(1) translate(20px, -10px); opacity: 0.8; }
  }
  .smoke {
    animation: smokeAnimation 5s infinite alternate;
  }